on:
  workflow_dispatch:
  push:
    branches: 
      - main
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        ref: 'main'
    - name: create env for build
      run: | 
        cp .env.copy .env
        sed -i 's/http:\/\/localhost:26657/https:\/\/${{ secrets.HOST }}:26657/g' .env
        sed -i 's/http:\/\/localhost:1317/https:\/\/${{ secrets.HOST }}:1317/g' .env
        sed -i 's/ws:\/\/localhost:1317/wss:\/\/${{ secrets.HOST }}:26657/g' .env
    - run: cat .env
    - name: Use Node.js 15
      uses: actions/setup-node@v1
      with:
        node-version: '15'
    - name: install dependences
      run: npm install --global expo-cli
    - run: npm install
    - run: expo build:web
    - uses: FirebaseExtended/action-hosting-deploy@v0
      with:
        repoToken: '${{ secrets.GITHUB_TOKEN }}'
        firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT }}'
        projectId: meta-belarus-id
        channelId: live
        target: meta-belarus-id-test
      env:
        FIREBASE_CLI_PREVIEWS: hostingchannels
